name: Build APK

on:
    push:
        tags:
            - "v*"

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Flutter
              uses: subosito/flutter-action@v2
              with:
                  channel: stable

            - name: Fetch deps
              run: flutter pub get

            - name: Build APK
              run: flutter build apk --release

            - name: Upload to Release
              uses: softprops/action-gh-release@v1
              with:
                  files: build/app/outputs/flutter-apk/app-release.apk
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
# Tworzysz tag, np.:
# git tag v1.0.0
# git push origin v1.0.0
